#sign_Up {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  margin: auto;
  display: flex;
  align-items: center;

  position: relative;

  opacity: 0; /* Đặt opacity ban đầu là 0 */
  animation: fadeInDown 0.3s ease-in-out forwards;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-80px); /* Di chuyển lên trên một chút */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Di chuyển xuống dưới */
  }
}
#sign_Up::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eeeeee;
  opacity: 0.8;
  z-index: -1;
}
#sign_Up .sign_Up-bg {
  display: inline-block;
  position: relative;
  width: 1000px;
  height: 635px;
  background-image: url(./../img/fetured_1.png);
  background-repeat: no-repeat; /* Ngăn chặn lặp lại nền */
  background-size: 100% 100%;
}
#sign_Up .sign_Up_content {
  width: 500px;
  height: 100%;
  text-align: center;
}
#sign_Up .sign_Up_content .img {
  text-align: center;
}
#sign_Up .sign_Up_content .img i {
  margin: 15px 0 5px 0;
  font-size: 3.5rem;
  display: inline-block;
}
#sign_Up .sign_Up_content > p {
  margin-top: 5px;
  color: #000000;
  font-size: 2.8rem;
  font-weight: 500;
}
#sign_Up .sign_Up_content .form {
  margin-top: 15px;
}
#sign_Up .sign_Up_content .form li {
  text-align: center;
}
#sign_Up .sign_Up_content .form li + li {
  margin-top: 15px;
}
#sign_Up .sign_Up_content .form .form_field {
  position: relative;
}
#sign_Up .sign_Up_content .form .form_lable {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  left: 86px;
  font-size: 1.5rem;
  user-select: none;
  color: #999;
  pointer-events: none;
  transition: all 0.25s ease;
}
#sign_Up .sign_Up_content .form .form_field.error input {
  border-color: red;
}
#sign_Up .sign_Up_content .form .form_field.error select.slerror {
  border-color: red;
}
#sign_Up .sign_Up_content .form .form_field.error small {
  color: red;
}
#sign_Up .sign_Up_content .form li input {
  padding-left: 10px;
  font-size: 1.6rem;
  width: 70%;
  height: 45px;
  border-radius: 10px;
  outline: none;
  border: 0.5px solid #ccc;
}
#sign_Up .sign_Up_content .form li input:focus {
  border-color: #6a5af9;
}
#sign_Up .sign_Up_content .form li input:not(:placeholder-shown) + .form_lable,
#sign_Up .sign_Up_content .form li input:focus + .form_lable {
  top: 0;
  padding: 0 2px;
  font-size: 1.3rem;
  color: #6a5af9;
  background-color: #ffffff;
}
#sign_Up .sign_Up_content .form li input::placeholder {
  font-size: 1.6rem;
  padding: 10px;
}
#sign_Up .sign_Up_content .form .showStatus {
  width: 70%;
  margin-top: 2px;
  text-align: left;
  padding-left: 80px;
}
#sign_Up .sign_Up_content > span {
  display: inline-block;
  font-size: 1.6.rem;
  margin-top: 10px;
}
#sign_Up .sign_Up_content > span .btn_login {
  font-size: 1.7rem;
  color: #3c94ec;
  cursor: pointer;
}
#sign_Up .sign_Up_content .form li button {
  background-color: #344563;
  padding: 5px 20px;
  color: #fff;
  border: none;
  font-size: 1.8rem;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
#sign_Up .sign_Up-bg .close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
#sign_Up .sign_Up_content .close i {
  font-size: 2.6rem;
  opacity: 0.7;
}
#sign_Up .sign_Up_content .close i:hover {
  color: red;
}
#sign_Up .address {
  width: 350px;
  display: inline-block;
}
#sign_Up .address .select {
  display: flex;
  justify-content: space-between;
}
#sign_Up .address > p {
  font-size: 1.8rem;
  text-align: left;
  margin-bottom: 10px;
}
#sign_Up .address .select select {
  width: 110px;
  height: 25px;
  font-size: 1.3rem;
  border-radius: 5px;
}
