<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/login.css">
</head>
<body>
    <div id="login">
        <div class="login-bg">
            <div class="login_content">
                <div class="img">
                    <i class="fa-solid fa-user"></i>
                </div>
                <p>Sign in</p>
                <form action="">
                    <ul class="form">
                        <li class="form_field">
                            <input type="text" placeholder=" " id="phone" name="phone">
                            <label for="name" class="form_lable"> phone</label>
                            <div class="showStatus">
                                <small></small>
                            </div>
                        </li>
                        <li class="form_field">
                            <input type="text" placeholder=" " id="username" name="username">
                            <label for="name" class="form_lable">Email </label>
                            <div class="showStatus">
                                <small></small>
                            </div>
                        </li>
                        <li class="form_field">                 
                            <input type="password" name="pass" id="pass" placeholder=" ">
                            <label for="password" class="form_lable">Password</label>
                            <div class="showStatus">
                                <small></small>
                            </div>
    
                        </li>
                        <!-- <li>
                            <button type="submit" class="submit">Login</button>
                        </li> -->
                        <li class="showmassage">
                            <span></span>
                        </li>
                    </ul>
                    <div>
                        <button type="submit" class="submit">Login</button>
                    </div>
                </form>
                <span>Already not have an account ?  <span class="signup-button">Sign up</span></span>
                <div>
                    <div class="bd">
                        <span>Or sign in with</span>
                    </div>
                </div>
                <div class="login_Icon">
                    <i class="fa-brands fa-facebook login_F"></i>
                    <i class="fa-brands fa-google login_G"></i>
                </div>
            </div>
            <div class="close"><i class="fa-solid fa-xmark "></i></div>
        </div>
        
    </div>
</body>
</html>