<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/dangki.css">
</head>
<body>
    <div id="sign_Up">
        <div class="sign_Up-bg">
            <div class="sign_Up_content">
                <div class="img">
                    <i class="fa-solid fa-user"></i>
                </div>
                <p>Sign up</p>
                <ul class="form">
                    <li>
                        <span></span>
                        <input type="text" placeholder="Your name">
                    </li>
                    <li>
                        <input type="text" placeholder="Your address">
                    </li>
                    <li>
                        <input type="email" name="mail" id="mail" placeholder="Your email">
                    </li>
                    <li>
                        <input type="number" name="number" id="number" placeholder="Phone">
                    </li>
                    <li>
                        <input type="password" name="pass" id="pass" placeholder="Password">
                    </li>
                    <li>
                        <input type="password" name="confirm" id="confirm" placeholder="Confirm">
                    </li>
                    <li>
                        <button type="submit" class="submit">Register</button>
                    </li>
                </ul>
                <span>Already have an account ?  <span class="btn_login">Login</span></span>
                <div class="close"><i class="fa-solid fa-xmark "></i></div>
            </div>
        </div>
    </div>
    <script src="./assets/js/Dangki.js"></script>
</body>
</html>